.container
{
    margin: auto;
    border: 20px solid rgb(218, 146, 146);
    width:70%;
    background-color: rgb(130, 173, 162);
}
.clearfix {
    overflow: auto;
  }
.inbox
{
    width: 90%;
    margin: 8px 20px 8px 30px;
    min-height: 50px;
    background-color: rgb(130, 173, 162);
}
.logo
{
    margin-left: 30px;
    float: left;
    font-size: 30px;
    font-family: cursive;
    color: rgb(44, 43, 20);
    letter-spacing: 4px;
}
.logo::first-letter
{
    color: rgb(170, 250, 80);
    font-size: 45px;
}
.register
{
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}
.register a
{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    font-size: 15px;
    word-spacing: 20px;
    background-color: rgb(89, 144, 228);
    border-radius: 4px;
    transition: 0.6s;
}
.register a:hover
{
    background: transparent;
    border: 2px solid rgb(143, 251, 1);
}
.nav
{
    float: left;
    margin-top: 25px;
    margin-left: 400px;
    word-spacing: 10px;
}
.nav a 
{
    
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(15, 15, 15);
    padding: 10px 20px;
    font-size: 15px;
    word-spacing: 25px;
    position: relative;
}
.nav a:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(55, 255, 0);
    transition: 0.4s linear;
}
.nav a:hover:before
{
    width:95% ;
}
.inbox2
{
    border: 3px solid black;
    margin-top: 35px;
    min-height: 400px;
    background-image: url('../Images/lemon.1.png');
}